		.modal-header {
			background-color: #f5f5f5;
			border-color: #ddd;
		}
		.complexEditor {
			list-style: none;
			padding-left: 0;
		}
 
		.complexEditor  .sort-handle {
			display: none;
		}
		
 		.complexEditor .button-handle {
			display: none;
		}
		.complexEditor .btn {
			margin: 0px 0.1em;
			padding: 0 0em;
		}
		.complexEditor .ui-selected  .button-handle{
			display: inline;
			padding: 0 0.5em;
			cursor: pointer;
		}
		.complexEditor  .ui-selected .sort-handle
		{
			display: inline;
			padding: 0 0.5em;
			cursor: pointer;
		}
		.complexEditor > .btn {
		 padding: 0px 0px;
		  margin-right: 5px;
		}
		input.variable {
			width:3em;
		}
		li.ui-selected {
			background-color: rgba(136, 136, 204, 0.42);
			color: white;
			font-weight: bold;
			background-image: none;
		}
		li.ui-selecting {
			background-color: #ccccff;
			color: white;
			background-image: none;
		}
		OL {
			margin: 0px 0px;
			padding: 0 0.5em;
		}